# LaTeX temporary files
*.aux
*.log
*.bbl
*.bcf
*.blg
*.run.xml
*.toc
*.out
*.lof
*.lot
*.synctex.gz
*.fdb_latexmk
*.fls
*.xdv

# Output folders
out/
writing/out/

# VS Code / IDE
.idea/
.vscode/

# OS files
.DS_Store

# OPTIONAL: keep PDF OUT of git OR allow it
# writing/main.pdf   (REMOVE THIS LINE if you WANT to upload PDF)